header {
    font-size: xx-large;
    text-align: center;
}

body {
    background-color: gainsboro

}

/* CSS to center the 'Project' button */
.btn-group {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


