header {
    font-size: xx-large;
    text-align: center;
}

body {
    background-color: gainsboro

}



/* CSS to center the 'Project' button */
.btn-group {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Margins to keep the text centered on the page*/
.centeredtext {
    margin-top: 70px;
    margin-left: 20px;
}

/* Settings for Ipad */
@media screen and (max-width: 768px) {

    .row {
          display: block;
          position: absolute;
          right: 0;
          top: 0;	
          float: none;
          padding: 60px
    }
    
    .centeredtext {
      margin-top: 5px;
    }
    
    }
    
    /* Settings for phones*/
    @media screen and (max-width: 767px) {
    
    .row {
            width: 100%;
            padding: 10px;
            margin-top: 40px;
            margin-right: 1px;
        }
        
    .centeredtext {
            margin-top: 5px
          }
          
          
        }
        
    /* Settings for IPad Pro*/
    @media screen and (max-width: 1024px) {
       .row {
          display: block;
          position: absolute;
          right: 0;
          top: 0;	
          float: none;
          padding: 60px;
    }
    
    .centeredtext {
        margin-top: 10px
      }
    
    
    }